### This file is managed by Saltstack
### Changes WILL be overwritten

{%- macro iterate(items, depth) %}
  {%- for name, value in items.items() %}
    {%- if value is iterable and value is not string %}
{{ iterate(value, depth ~ name ~ '_') }}
    {%- else %}
{{ (depth ~ name)|upper}}={% if value is string %}"{% endif %}{{value}}{% if value is string %}"{% endif %}
    {%- endif %}
  {%- endfor %}
{%- endmacro %}
{{iterate(secrets, "")}}
